{% extends 'layout.html' %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Haz crecer tu negocio</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Tú pones la idea y nosotros la llevamos a la web</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#contact" class="btn-get-started scrollto">Trabajemos juntos</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{{url_for('static', filename='assets/img/hero-img.png')}}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Clientes</h2>
          <p>Esto opinan nuestros clientes de nosotros</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="200">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{{url_for('static', filename='assets/img/testimonials/jorge.jpg')}}" class="testimonial-img" alt="">
              <h3>Jorge Torres</h3>
              <h4>Vendedor Chevrolet</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                El trato fue excelente. Desde el inicio mostraron interés por atender mis necesidades y ofrecer una solución adecuada. Totalmente recomendados.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{{url_for('static', filename='assets/img/testimonials/logo.png')}}" class="testimonial-img" alt="">
              <h3>Vintage Rock Band</h3>
              <h4>Grupo Músical</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Teníamos muchas dudas sobre hacer una página web, por suerte Xatal nos fue de gran ayuda, ya que nos resolvieron dudas en todo momento y nos hicieron una página con un gran diseño a un buen precio.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="{{url_for('static', filename='assets/img/testimonials/default.svg')}}" class="testimonial-img" alt="">
              <h3>Luis Vera</h3>
              <h4>Dueño del salón de eventos Hipocampus</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Necesitaba una página para poder dar más información sobre mi negocio, ya que una página en Facebook no me permitía mostrar toda la información necesaria. Xatal me hizo una página en menos de una semana. Se los recomiendo. 
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Construir un sitio web</h2>
        </div>

        <div class="row content justify-content-center">
          <div class="col-md-9" data-aos="fade-up" data-aos-delay="150">
            <p>
              Tener una página web demuestra más <strong>profesionalidad y credibilidad</strong> ante tus clientes. También es una mejor forma de <strong>presentar tu marca, producto y/o servicio</strong>. Te ayuda a dar a conocer quién eres y qué puedes hacer por tus clientes. De la misma manera te ofrece las siguientes ventajas:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Presencia online</li>
              <li><i class="ri-check-double-line"></i> Conseguir más clientes mediante búsquedas en Google u otros motores de búsqueda</li>
              <li><i class="ri-check-double-line"></i> Hacer ventas online</li>
              <li><i class="ri-check-double-line"></i> Mayor alcance en tus campañas publicitarias</li>
              <li><i class="ri-check-double-line"></i> Conseguir mayor información de tus potenciales clientes</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Nuestro Trabajo</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          {% for project in portfolio %}

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <a href="/proyecto/{{project.id}}">
                <div class="portfolio-wrap">
                  <img src="{{project.image}}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>{{project.title}}</h4>
                    <p>{{project.description}}</p>
                  </div>
                </div>
              </a>
            </div>

          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Nosotros</h2>
          <div class="container mt-2">

            <div class="row">
              <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
                <img src="{{url_for('static', filename='assets/img/counts-img.svg')}}" alt="" class="img-fluid">
              </div>
    
              <div class="col-xl-7 text-start pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                <p>
                  Somos una empresa enfocada en el <strong>diseño y desarrollo de páginas web</strong>. Nos apoyamos de la ingeniería de software para ofrecer un <strong>producto de calidad</strong>.
                </p>
                <p>
                  <strong>La ingeniería de software</strong> se funadamenta en entender el negecoio y las necesidades del cliente, hacer un análisis metódico y crear una solución que resuleva de manera optima las necesidades del cliente.
                </p>
              </div>
            </div>
    
          </div>
        </div>

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Preguntas Frecuentes</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Qué es el hosting y el dominio?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Los sitios web son una combinación de dominio y hospedaje web. Podría decirse que tu dominio es tu dirección y el alojamiento web es la casa donde vives.

              El alojamiento web es el proceso en el cual utilizamos un servidor para alojar la información de nuestro sitio web
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Y si ya cuento con un hosting y dominio?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Dependiendo del caso en particular, puede usarse el mismo hosting. En el caso del dominio siempre es poible utilizar el mismo.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿El hosting y dominio lo manejan ustedes?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Nosotros nos encargamos de configurar el hosting y dominio de tu sitio web. Aunque si lo deseas, puedes realizarlo tú mismo y nosotros te guíaremos.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>¿Cuál es su proceso para realizar un sitio web?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Primero realizamos una entrevista para entender tú negocio y tus necesidades. Después te presentamos un prototipo con la posible solución. Después refinamos el prototipo con la retroalimentación recibida hasta llegar a un producto final óptimo.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contacto</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <div class="social-links">
                <a href="https://twitter.com/xatalweb" target="_blank"  class="twitter"><i class="icofont-twitter"></i></a>
                <a href="https://facebook.com/xatalweb" target="_blank"  class="facebook"><i class="icofont-facebook"></i></a>
                <a href="https://instagram.com/xatalweb" target="_blank" class="instagram"><i class="icofont-instagram"></i></a>
              </div>

              <div class="info mt-2">

                <div>
                  <i class="ri-mail-send-line"></i>
                  <p>xatalweb@gmail.com</p>
                </div>
  
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="/enviar-mensaje" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Introduce tu nombre" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Introduce una dirección de email valida" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Introduce un aunsto de al menos 8 caracteres" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="text" rows="5" data-rule="required" data-msg="Introduce un mensaje" placeholder="Mensaje"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado. En breve te contactaremos.</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
  
{% endblock %}